In [92]:
# import standard libraries

import pandas as pd


# Adjusting some visuals

pd.set_option('display.max_colwidth', 50)  # Set the maximum width of a column to display (None for unlimited)

pd.set_option('display.max_rows', 4)  # Set the maximum number of rows to display

pd.set_option('display.max_columns', None)  # Set the maximum number of columns to display (None for unlimited)

### The data: steam_games.json.gz

In [93]:
# Load the compressed file

relative_path_steamGames = '../data/steam_games.json.gz'
steam_games = pd.read_json(relative_path_steamGames, compression='gzip',lines=True)

In [94]:
steam_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120445 entries, 0 to 120444
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     24083 non-null  object
 1   genres        28852 non-null  object
 2   app_name      32133 non-null  object
 3   title         30085 non-null  object
 4   url           32135 non-null  object
 5   release_date  30068 non-null  object
 6   tags          31972 non-null  object
 7   reviews_url   32133 non-null  object
 8   specs         31465 non-null  object
 9   price         30758 non-null  object
 10  early_access  32135 non-null  float64
 11  id            32133 non-null  float64
 12  developer     28836 non-null  object
dtypes: float64(2), object(11)
memory usage: 11.9+ MB

In [95]:
# Show rows completley unusable

steam_games[steam_games.isnull().all(axis=1)]

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
1,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
88308,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
88309,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None

In [96]:
# Drop all rows where 'all' values are null or NaN

steam_games.dropna(how='all', inplace=True)

In [97]:
# Show rows where at least one value is NaN

steam_games[steam_games.isnull().any(axis=1)]

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
88314,None,None,Log Challenge,None,http://store.steampowered.com/app/773570/Log_C...,None,"[Action, Indie, Casual, Sports]",http://steamcommunity.com/app/773570/reviews/?...,"[Single-player, Full controller support, HTC V...",2.99,0.0,773570.0,None
88316,None,"[Free to Play, Indie, Simulation, Sports]",SNOW - All Access Basic Pass,SNOW - All Access Basic Pass,http://store.steampowered.com/app/774276/SNOW_...,2018-01-04,"[Free to Play, Indie, Simulation, Sports]",http://steamcommunity.com/app/774276/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",9.99,0.0,774276.0,Poppermost Productions
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120438,Riviysky,"[Casual, Indie]",BAE 2,BAE 2,http://store.steampowered.com/app/769330/BAE_2/,2018-01-04,"[Indie, Casual]",http://steamcommunity.com/app/769330/reviews/?...,[Single-player],None,0.0,769330.0,Riviysky
120444,None,None,Maze Run VR,None,http://store.steampowered.com/app/681550/Maze_...,None,"[Early Access, Adventure, Indie, Action, Simul...",http://steamcommunity.com/app/681550/reviews/?...,"[Single-player, Stats, Steam Leaderboards, HTC...",4.99,1.0,681550.0,None

In [98]:
# 'app_name' and 'url' columns have different non-null values. 'url' has the info 'app_name'. We will check
# to possible impute.

steam_games[steam_games['app_name'].isnull()]

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
88384,None,None,None,None,http://store.steampowered.com/,None,None,None,None,19.99,0.0,NaN,None
90890,None,"[Action, Indie]",None,None,http://store.steampowered.com/app/317160/_/,2014-08-26,"[Action, Indie]",http://steamcommunity.com/app/317160/reviews/?...,"[Single-player, Game demo]",None,0.0,317160.0,None

In [99]:
# After check, no possible action on/from url, so url is erased. Also, other columns not used in the final
# project are erased here. # In other scenarios, where no space limitation would apply, we should
# leave this as is. Strong assumption here.

steam_games.drop(['url', 'reviews_url', 'early_access', 'specs', 'publisher', 'developer'], axis=1, inplace=True)

In [100]:
steam_games

,genres,app_name,title,release_date,tags,price,id
88310,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",4.99,761140.0
88311,"[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",Free To Play,643980.0
...,...,...,...,...,...,...,...
120443,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",4.99,658870.0
120444,None,Maze Run VR,None,None,"[Early Access, Adventure, Indie, Action, Simul...",4.99,681550.0

In [101]:
# 'Genres' and 'Tags' may be same info. Theory: data entry does not know what to input on each.
# Approach: Create a column with unique values

# We defined a function to get values not common to both 'genres' and 'tags', handling NaN values.

columns_to_fill = ['genres', 'tags']

def get_values(row, columns_to_fill):

    if isinstance(pd.Series(row[columns_to_fill[0]]).any(), list) and isinstance(pd.Series(row[columns_to_fill[1]]).any(), list):
        return list(set(set(row[columns_to_fill[1]]).union(set(row[columns_to_fill[0]]))))
    elif isinstance(pd.Series(row[columns_to_fill[0]]).any(), list):
        return row[columns_to_fill[0]]
    else:
        return row[columns_to_fill[1]]

# Create a new column with values common to both genres and tags

steam_games['tags&genres'] = steam_games.apply(get_values, axis=1, args=(columns_to_fill,))

# drop origin columns

steam_games.drop(['genres', 'tags'], axis=1, inplace=True)

In [102]:
steam_games

,app_name,title,release_date,price,id,tags&genres
88310,Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,4.99,761140.0,"[Strategy, Action, Indie, Casual, Simulation]"
88311,Ironbound,Ironbound,2018-01-04,Free To Play,643980.0,"[Free to Play, Strategy, Indie, RPG, Card Game..."
...,...,...,...,...,...,...
120443,EXIT 2 - Directions,EXIT 2 - Directions,2017-09-02,4.99,658870.0,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe..."
120444,Maze Run VR,None,None,4.99,681550.0,"[Early Access, Adventure, Indie, Action, Simul..."

In [ ]:
# Set to 0 (zero) all text values in 'price' column as many "free" is found there.

steam_games['price'][~steam_games['price'].apply(pd.to_numeric, errors='coerce').notna()]=0
steam_games

In [104]:
# we rename 'id' column to match 'user_items.json.gz' data origin (inside 'items' column there is a 'item_id' key)

steam_games.rename(columns={'id':'item_id'}, inplace=True)
steam_games

,app_name,title,release_date,price,item_id,tags&genres
88310,Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,4.99,761140.0,"[Strategy, Action, Indie, Casual, Simulation]"
88311,Ironbound,Ironbound,2018-01-04,0,643980.0,"[Free to Play, Strategy, Indie, RPG, Card Game..."
...,...,...,...,...,...,...
120443,EXIT 2 - Directions,EXIT 2 - Directions,2017-09-02,4.99,658870.0,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe..."
120444,Maze Run VR,None,None,4.99,681550.0,"[Early Access, Adventure, Indie, Action, Simul..."

In [105]:
# To convert 'item_id's' into str, firt there are some None values to check.

steam_games[steam_games['item_id'].isnull()]

,app_name,title,release_date,price,item_id,tags&genres
88384,None,None,None,19.99,NaN,None
119271,Batman: Arkham City - Game of the Year Edition,Batman: Arkham City - Game of the Year Edition,2012-09-07,19.99,NaN,"[Action, Open World, Batman, Adventure, Stealt..."

In [106]:
# Nothing can be done, so we erase them

rows_to_erase = steam_games[steam_games['item_id'].isnull()].index
steam_games.drop(labels=rows_to_erase, inplace=True)
steam_games

,app_name,title,release_date,price,item_id,tags&genres
88310,Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,4.99,761140.0,"[Strategy, Action, Indie, Casual, Simulation]"
88311,Ironbound,Ironbound,2018-01-04,0,643980.0,"[Free to Play, Strategy, Indie, RPG, Card Game..."
...,...,...,...,...,...,...
120443,EXIT 2 - Directions,EXIT 2 - Directions,2017-09-02,4.99,658870.0,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe..."
120444,Maze Run VR,None,None,4.99,681550.0,"[Early Access, Adventure, Indie, Action, Simul..."

In [107]:
# Now we can convert 'item_id' into int

steam_games['item_id']=steam_games['item_id'].round().astype(int)
steam_games

,app_name,title,release_date,price,item_id,tags&genres
88310,Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,4.99,761140,"[Strategy, Action, Indie, Casual, Simulation]"
88311,Ironbound,Ironbound,2018-01-04,0,643980,"[Free to Play, Strategy, Indie, RPG, Card Game..."
...,...,...,...,...,...,...
120443,EXIT 2 - Directions,EXIT 2 - Directions,2017-09-02,4.99,658870,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe..."
120444,Maze Run VR,None,None,4.99,681550,"[Early Access, Adventure, Indie, Action, Simul..."

In [108]:
# Check for repeated 'item_id'

steam_games['item_id'].value_counts().sort_values(ascending=True)

item_id
698100    1
773570    1
         ..
761480    1
612880    2
Name: count, Length: 32132, dtype: int64

In [109]:
steam_games[steam_games['item_id'] == 612880]

,app_name,title,release_date,price,item_id,tags&genres
102204,Wolfenstein II: The New Colossus,Wolfenstein II: The New Colossus,2017-10-26,59.99,612880,"[Action, FPS, Gore, Violent, Alternate History..."
102883,Wolfenstein II: The New Colossus,Wolfenstein II: The New Colossus,2017-10-26,59.99,612880,"[Action, FPS, Gore, Violent, Alternate History..."

In [110]:
# Being the same, we erase one of them

steam_games.drop(labels=102204, inplace=True)

In [111]:
# No null values left for 'item_id'

steam_games[steam_games['item_id'].isnull()]

Empty DataFrame
Columns: [app_name, title, release_date, price, item_id, tags&genres]
Index: []

In [112]:
# Again, we suppouse 'app_name' and 'title' may be same info.
# Approach: Fill missing values depending on available cell info

columns_to_fill = ['app_name', 'title']

def get_values_notlist(row, columns_to_fill):
    if row[columns_to_fill[0]]==row[columns_to_fill[1]]:
        return row[columns_to_fill[0]]
    elif row[columns_to_fill[0]]=='':
        return row[columns_to_fill[1]]
    else:
        return row[columns_to_fill[0]]

# Create a new column with values common to both 'app_name' and 'title'

steam_games['app_name&title'] = steam_games.apply(get_values_notlist, axis=1, args=(columns_to_fill,))

# drop origin columns

steam_games.drop(['app_name', 'title'], axis=1, inplace=True)
steam_games

,release_date,price,item_id,tags&genres,app_name&title
88310,2018-01-04,4.99,761140,"[Strategy, Action, Indie, Casual, Simulation]",Lost Summoner Kitty
88311,2018-01-04,0,643980,"[Free to Play, Strategy, Indie, RPG, Card Game...",Ironbound
...,...,...,...,...,...
120443,2017-09-02,4.99,658870,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",EXIT 2 - Directions
120444,None,4.99,681550,"[Early Access, Adventure, Indie, Action, Simul...",Maze Run VR

In [113]:
# Checking for repeated values in the 'app_name&title' column

steam_games[steam_games['app_name&title'].duplicated()]

,release_date,price,item_id,tags&genres,app_name&title
89819,2013-08-05,0,94304,"[Adventure, Indie, Casual]",The Dream Machine: Chapter 4
97764,2017-04-12,14.99,542220,"[Action, Indie, Casual]",Rumpus
...,...,...,...,...,...
119852,2009-12-04,0,41300,"[Free to Play, Action, Indie, Multiplayer, 2D,...",Altitude
120307,2017-12-29,1.99,746050,"[Casual, Action, Indie, RPG, Simulation, Singl...",MORE SWEATER? OK!

In [114]:
# Select columns to check for duplicates

column_subset = ['app_name&title', 'item_id', 'app_name&title']

# Displaying detailed information about duplicates in relevant columns

print("\nInfo about duplicates in each column:")
for column in column_subset:
    duplicates = steam_games[column].duplicated(keep=False)
    if duplicates.any():
        print(f"Column '{column}':")
        print(steam_games[duplicates].sort_values(by=column))

# we have 37 duplicated rows by 'app_name&title' column

Information about duplicates in each column:
Column 'app_name&title':
       release_date  price  item_id  \
107158         None   9.99   599520
118857   2012-11-13   9.99   216173
...             ...    ...      ...
115981   2015-01-07      0   329270
115982   2015-01-07  14.99   326670

                                              tags&genres       app_name&title
107158                          [Strategy, Action, Indie]  AirMech® Soundtrack
118857            [Strategy, Action, Free to Play, Indie]  AirMech® Soundtrack
...                                                   ...                  ...
115981                                    [Strategy, RPG]      Warhammer Quest
115982  [RPG, Strategy, Games Workshop, Turn-Based, Bo...      Warhammer Quest

[73 rows x 5 columns]
Column 'app_name&title':
       release_date  price  item_id  \
107158         None   9.99   599520
118857   2012-11-13   9.99   216173
...             ...    ...      ...
115981   2015-01-07      0   329270
115982   2015-01-07  14.99   326670

                                              tags&genres       app_name&title
107158                          [Strategy, Action, Indie]  AirMech® Soundtrack
118857            [Strategy, Action, Free to Play, Indie]  AirMech® Soundtrack
...                                                   ...                  ...
115981                                    [Strategy, RPG]      Warhammer Quest
115982  [RPG, Strategy, Games Workshop, Turn-Based, Bo...      Warhammer Quest

[73 rows x 5 columns]

In [115]:
steam_games

,release_date,price,item_id,tags&genres,app_name&title
88310,2018-01-04,4.99,761140,"[Strategy, Action, Indie, Casual, Simulation]",Lost Summoner Kitty
88311,2018-01-04,0,643980,"[Free to Play, Strategy, Indie, RPG, Card Game...",Ironbound
...,...,...,...,...,...
120443,2017-09-02,4.99,658870,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",EXIT 2 - Directions
120444,None,4.99,681550,"[Early Access, Adventure, Indie, Action, Simul...",Maze Run VR

In [116]:
# Some item_id to erase:
# 599520
# 224850
# 41300
# 565510

In [117]:
# Select non-numeric values in 'price' and set them to 0
non_numeric_values = steam_games['price'][~steam_games['price'].apply(pd.to_numeric, errors='coerce').notna()].index

df_copy = steam_games.copy().reset_index(drop=False)

df_copy.iloc[non_numeric_values]=0

In [118]:
df_copy['item_id'].describe()

count    3.213200e+04
mean     4.517524e+05
             ...
75%      5.933925e+05
max      2.028850e+06
Name: item_id, Length: 8, dtype: float64

In [119]:
# Changed 'release_date' format and set to null unusable dates

df_copy['release_date'] = pd.to_datetime(df_copy['release_date'], format='%Y-%m-%d', errors='coerce')
df_copy

,index,release_date,price,item_id,tags&genres,app_name&title
0,88310,2018-01-04,4.99,761140,"[Strategy, Action, Indie, Casual, Simulation]",Lost Summoner Kitty
1,88311,2018-01-04,0,643980,"[Free to Play, Strategy, Indie, RPG, Card Game...",Ironbound
...,...,...,...,...,...,...
32130,120443,2017-09-02,4.99,658870,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",EXIT 2 - Directions
32131,120444,NaT,4.99,681550,"[Early Access, Adventure, Indie, Action, Simul...",Maze Run VR

In [120]:
df_copy[df_copy['app_name&title'].isna()]

      index release_date price  item_id      tags&genres app_name&title
2579  90890   2014-08-26     0   317160  [Action, Indie]           None

In [121]:
df_copy.drop(index=2579, inplace=True)

In [122]:
# case=False is used to perform a case-insensitive search (introduced here because project needs)
# Check https://github.com/soyHenry/PI_ML_OPS/tree/PT @ "Criterios de evaluación"


df_copy[df_copy['app_name&title'].str.contains('strike', case=False)]

,index,release_date,price,item_id,tags&genres,app_name&title
747,89058,2011-09-09,1.99,34842,[Action],Sniper: Ghost Warrior - Second Strike
823,89134,2011-12-19,4.99,200610,[Action],Renegade Ops - Coldstrike Campaign
...,...,...,...,...,...,...
32103,120416,2000-11-01,9.99,10,"[Action, FPS, Multiplayer, Shooter, Classic, T...",Counter-Strike
32114,120427,2004-03-01,9.99,80,"[Action, FPS, Shooter, Multiplayer, Singleplay...",Counter-Strike: Condition Zero

In [123]:
df_copy[['item_id', 'release_date']].isna().sum()

item_id            0
release_date    2351
dtype: int64

In [124]:
# As you can see above, there are 2351 'release_dates' missing. We will try to impute them by the date
# of the first review given by users.

item_and_first_review = pd.read_csv('../light_data/item_id&first_review_date.csv')

In [125]:
item_and_first_review

      item_id modified_date
0          10    2011-05-18
1       10090    2012-10-10
...       ...           ...
3680    99900    2011-06-26
3681    99910    2011-12-28

[3682 rows x 2 columns]

In [126]:
# Merge DataFrames based on "item_id"

merged_df = df_copy.merge(item_and_first_review, on='item_id', how='left')

In [127]:
merged_df

,index,release_date,price,item_id,tags&genres,app_name&title,modified_date
0,88310,2018-01-04,4.99,761140,"[Strategy, Action, Indie, Casual, Simulation]",Lost Summoner Kitty,NaN
1,88311,2018-01-04,0,643980,"[Free to Play, Strategy, Indie, RPG, Card Game...",Ironbound,NaN
...,...,...,...,...,...,...,...
32129,120443,2017-09-02,4.99,658870,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",EXIT 2 - Directions,NaN
32130,120444,NaT,4.99,681550,"[Early Access, Adventure, Indie, Action, Simul...",Maze Run VR,NaN

In [128]:
# Fill null values in 'release_date' with corresponding values from 'modified_date'

merged_df['release_date'].fillna(merged_df['modified_date'], inplace=True)

In [129]:
# from 2351 we came up to 2263 (88 dates replaced)

merged_df[['item_id', 'release_date']].isna().sum()

item_id            0
release_date    2263
dtype: int64

In [130]:
merged_df['release_date'].describe()

count                            29868
mean     2015-04-23 21:10:20.490156800
                     ...
75%                2017-04-18 00:00:00
max                2021-12-31 00:00:00
Name: release_date, Length: 7, dtype: object

In [131]:
# the final 'release_date' values that are missing will be imputed by KNN model

from sklearn.impute import KNNImputer
from sklearn.preprocessing import StandardScaler

# Convert datetime to numerical representation (in this case, days since a reference date)

merged_df['release_date_numeric'] = (merged_df['release_date'] - pd.to_datetime('1970-07-15')).dt.days

# Select relevant columns for imputation

columns_for_imputation = ['release_date_numeric', 'price']

# Initialize KNNImputer

imputer = KNNImputer(n_neighbors=3)  # Adjust the number of neighbors as needed

# Standardize the data before imputation

scaler = StandardScaler()
df_scaled = scaler.fit_transform(merged_df[columns_for_imputation])

# Impute missing values

df_imputed_scaled = imputer.fit_transform(df_scaled)

# Inverse transform to get back the original scale

df_imputed = pd.DataFrame(scaler.inverse_transform(df_imputed_scaled), columns=columns_for_imputation)

# Convert numerical representation back to datetime (trim hour:minute:seconds at the end)

merged_df['release_date_imputed'] = (pd.to_datetime('1970-07-15') + pd.to_timedelta(df_imputed['release_date_numeric'], unit='D')).dt.date

# Drop intermediate columns if needed

merged_df.drop(columns=['release_date_numeric'], inplace=True)

In [132]:
merged_df[['item_id', 'release_date_imputed']].isna().sum()

item_id                 0
release_date_imputed    0
dtype: int64

In [133]:
merged_df

,index,release_date,price,item_id,tags&genres,app_name&title,modified_date,release_date_imputed
0,88310,2018-01-04,4.99,761140,"[Strategy, Action, Indie, Casual, Simulation]",Lost Summoner Kitty,NaN,2018-01-04
1,88311,2018-01-04,0,643980,"[Free to Play, Strategy, Indie, RPG, Card Game...",Ironbound,NaN,2018-01-04
...,...,...,...,...,...,...,...,...
32129,120443,2017-09-02,4.99,658870,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",EXIT 2 - Directions,NaN,2017-09-02
32130,120444,NaT,4.99,681550,"[Early Access, Adventure, Indie, Action, Simul...",Maze Run VR,NaN,2018-01-03

In [134]:
# Save relevant info to be able to solve further requisites of the project:

# def PlayTimeGenre( genero : str ): Debe devolver año con mas horas jugadas para dicho género.
# Ejemplo de retorno: {"Año de lanzamiento con más horas jugadas para Género X" : 2013}

merged_df[['item_id', 'release_date_imputed', 'tags&genres']].to_csv('../light_data/playtimegenre.csv', index=False)

# Save relevant info to be able to solve:

# def UsersRecommend( año : int ): Devuelve el top 3 de juegos MÁS recomendados por usuarios para el año dado.
# (reviews.recommend = True y comentarios positivos/neutrales)
# Ejemplo de retorno: [{"Puesto 1" : X}, {"Puesto 2" : Y},{"Puesto 3" : Z}]


merged_df[['item_id', 'app_name&title']].to_csv('../light_data/item_id&name.csv', index=False)